body {
    background-color: #fff;
}

.no-display {
    display: none;
}

.center {
    margin: auto;
    padding: 10px;
    padding-left:50px;
    padding-right:50px;
    text-align: center;
    font-size: 14px;
}

.title {
    font-size: 24px;
    margin-top: 1em;
    margin-bottom: 1em;
    color: #262626;
}

.content {
    margin-top: 10em;
}

.text-input {
    margin: 5em;
}

.text-label {
    padding: 5px;
    font-size: 14px;
}

.message-label {
    padding: 2px;
    padding-top:20px;
    font-size: 14px;
    color: #EB434A;
}

.footer-label {
    padding: 2px;
    font-size: 13px;
}

button.convert-button {
    width: 150px;
    height: 40px;
    border: solid 1px #4a90e2;
    border-radius: 2px;
    background-color: #4a90e2;
    font-size: 14px;
    color: #ffffff;
}

button:focus {outline:0;}

.footer {
    position: fixed;
    bottom: 2em;
    left: 2em;
    text-align: left;
}